[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MNP"]
	path = MNP
	url = https://github.com/kosukeimai/mnp
[submodule "MatchIt"]
	path = MatchIt
	url = https://github.com/kosukeimai/matchit
[submodule "RCT2"]
	path = RCT2
	url = https://github.com/kosukeimai/rct2
[submodule "emIRT"]
	path = emIRT
	url = https://github.com/kosukeimai/emirt
[submodule "experiment"]
	path = experiment
	url = https://github.com/kosukeimai/experiment
[submodule "fastLink"]
	path = fastLink
	url = https://github.com/kosukeimai/fastlink
[submodule "wru"]
	path = wru
	url = https://github.com/kosukeimai/wru
